@import url(primary.css);

/* css fully written by Karolina Krysiak */

/* Reset default styles for all elements */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%;
}

/* Apply styles to the HTML and body elements */
html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h2,
h4 {
	text-align: center;
	margin: 50px;
}

/* the only way to remove the weird padding that appears inside the rows */
.row-padding > * {
	padding-right: 0;
	padding-left: 0;
}

/* centers stuff in the column  */
.contact-details {
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: var(--paragraph);
	margin-bottom: 100px;
}

.contact-details a {
	text-decoration: none;
	color: var(--accent-color-main);
	font-weight: bold;
}

.contact-details span {
	margin-bottom: 10px;
}

.contact-details p {
	margin: 20px 0 30px;
}

/* adds responsive margin */
form,
.contact-left,
.address div {
	margin: 0 10% 50px;
}

/* makes form labels and text boxes appear on the oposite sides */
.form_box {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.form_box label {
	margin-bottom: 10px;
	font-weight: bold;
}

/* style for the text boxes in the form */
.form_box input[type="text"],
.form_box input[type="email"],
.form_box textarea {
	width: 80%;
	padding: 10px;
	background-color: var(--accent-color-secondary);
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
}

/* makes the text box to not go wild with the size */
.form_box textarea {
	resize: none;
}

.form_box button {
	background-color: var(--accent-color-main);
	color: var(--font-color-light);
	border: solid 1px var(--accent-color-main);
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	display: block;
	margin: auto;
}

.form_box button:hover {
	background-color: var(--font-color-light);
	color: var(--accent-color-main);
}

/* group contact styling */
.group {
	padding: 0 5%;
}

.group a {
	font-weight: bold;
	color: var(--font-color-light);
}

/* rewritten row into flex so that the map resizes correctly */
.address-row {
	display: flex;
	flex-direction: row;
}

/* collumn with map that takes half of the row space until it reaches bootstrap breakpoint */
.map {
	flex: 50%;
	display: flex;
}

/* resizable map */
.map iframe {
	min-width: 100%;
	min-height: 500px;
	object-fit: cover;
}

.address p {
	margin: 0 15% 50px;
}

.address span {
	font-size: var(--paragraph);
	font-style: italic;
}

/* tweaks to the mobile view */

@media only screen and (max-width: 992px) {
	.address h2 {
		margin-top: 0;
	}
}

@media only screen and (max-width: 992px) {
	.contact-details {
		margin-bottom: 0;
	}

	/* makes the text area resize vertically to avoid inside scroll that may be annoing on mobile devices */
	.form_box textarea {
		resize: vertical;
	}

	.address-row {
		flex-direction: column-reverse;
	}
}
