/* Reset default styles for all elements */
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%;
}

/* Apply styles to the HTML and body elements */
html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h2,
h3,
h4 {
	text-align: center;
	margin: 50px;
}

form,
.contact-left p,
.address div {
	margin: 0 15%;
}

.contact-left {
	padding: 10% 0;
}

.form_box {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.form_box label {
	margin-bottom: 10px;
	font-weight: bold;
}

.form_box input[type="text"],
.form_box input[type="email"],
.form_box textarea {
	width: 80%;
	padding: 10px;
	border: 1px solid var();
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
}

.form_box textarea {
	resize: vertical;
}

.form_box button {
	background-color: var();
	color: var();
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	display: block;
	margin: auto;
}

.form_box button:hover {
	color: var();
}

.address-row {
	display: flex;
	flex-direction: row;
}

.address {
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.address div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 992px) {
	.address-row {
		flex-direction: column-reverse;
	}
}
