
footer {
    background-color: #F58800;
    color: #fff;
    padding: 10px 5px; 
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h6 {
    font-weight: bold;
    font-size: 25px; 
}

footer p {
    margin: 0;
    font-size: 10px; 
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 10px; 
}

footer a:hover {
    text-decoration: underline;
}

footer .btn {
    font-size: 16px; 
    margin: 2px; 
    text-decoration: none;
    color: #fff;
}

.text-white{
font-size: 10px;
}
