.bg-orange {
  background-color: #F58800; 
}
.navbar {
  padding: 0px; 
  height: 50px;
}
.navbar-brand img {
  padding: 0px;
  height: 50px;
  width: 50px;
}
.navbar-nav {
  margin-left: 400px;
}

.navbar-nav .nav-link {
  color: #FFFFFF; 
  transition: background-color 0.3s, color 0.3s; 
  font-size: 14px;
  padding: 20px; 
}
.navbar-nav .nav-link:hover {
  background-color: #FFFFFF; 
  color: #F58800; 
}

.nav-item .dropdown{
  color: #FFFFFF;
  content: "";
  border-top: 10px solid;
  transition: transform 0.3s;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-toggle::after {
  transform: rotate(180deg); 
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav .dropdown-menu {
  display: none;
  background-color: #FFFFFF; 
  border-radius: 0; 
  left: auto; 
  right: 0px; 
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 14px;
}

.navbar-nav .projects-dropdown-toggle:checked .dropdown-toggle .dropdown-menu {
  border: none;
  box-shadow: none;
}
.navbar-nav .dropdown-item {
  color: #F58800;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .dropdown-item.orange-underline {
  border-bottom: 1px solid #F58800;
}

.navbar-nav .dropdown-item:hover {
  background-color: #F58800;
  color: #FFFFFF;
}