.circle {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: 3px solid #FFFF00;
  }

  .card{
    background-color: #F58800;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card img{
    width: 65%;
    height: 65%;
  }