/* open-sans-300 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v36-cyrillic_cyrillic-ext_latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v36-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-500 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v36-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-600 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v36-cyrillic_cyrillic-ext_latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v36-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {

    font-family:  "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px; line-height: 1.4em;
}
.navbar {

    background: -moz-linear-gradient(15deg, #F58800 0%, #F58800 50%, #D37500 50%, #D37500 100%);
    background: -webkit-linear-gradient(15deg, #F58800 0%, #F58800 50%, #D37500 50%, #D37500 100%);
    background: linear-gradient(15deg, #F58800 0%, #F58800 50%, #D37500 50%, #D37500 100%);

    padding: 0px;
    height: auto;
}

.navbar-brand .Logo {
    width: 100px;
    height: auto;
}

.navbar-brand img {
    padding: 0px;
    height: 50px;
    width: 50px;
}



.navbar-nav .nav-link {
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Open Sans','Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 14px !important;
}

.navbar-nav .nav-link:hover {
    background-color: #FFFFFF;
    color: #F58800;
}

.nav-item .dropdown {
    color: #FFFFFF;
    content: "";
    border-top: 10px solid;
    transition: transform 0.3s;
}


.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    display: none;
    background-color: #FFFFFF;
    border-radius: 0;
    left: auto;
    right: 0px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-size: 15px;
    transition: opacity 0.3s;
    border-color: #F58800;
    max-width: 240px;
    width: 240px;
}

.navbar-nav .dropdown-menu:hover {
    display: block;
    opacity: 1;
}

.navbar-nav .projects-dropdown-toggle:checked .dropdown-toggle .dropdown-menu {
    border: none;
    box-shadow: none;
}

.navbar-nav .dropdown-item {
    color: #F58800;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 15px;

    white-space:normal;
}

.navbar-nav .dropdown-item.orange-underline {
    border-bottom: 1px solid #F58800;
}

.navbar-nav .dropdown-item:hover {
    background-color: #F58800;
    color: #FFFFFF;
}


.navbar-nav .nav-item-lang.dropdown:hover .dropdown-menu-lang {
    display: block;
}

.UK {
    width: 20px;
    height: auto;
}

.DK {
    width: 20px;
    height: auto;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-toggle::after,
.navbar-nav .nav-item-lang.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
}
.nav-item-lang .dropdown-menu-lang
{
    max-width: 62px;
    min-width: 62px;
    text-align: center;
}
.navbar-collapse
{
    justify-content: flex-end;
}
.bg-my-orange
{
    background-color: #D37500;
}
.content img{max-width:100%;height:auto}

.btn.btn-my-orange
{
    background-color: #D37500;
    border-color: #D37500;
}
.btn.btn-my-orange:hover,
.btn.btn-my-orange:focus
{
    background-color: #F58800;
    border-color: #F58800;
}